.header{
    background-color: black;
    height: 2cm;
    color: white;
    
    align-content:space-between;
    justify-content:space-around
    
}

.items{
    background-color:rgb(218, 196, 157);
    border-style: solid;
    border-color: darkgoldenrod;
    border-radius:5mm;
    display:inline-block;
    height: 13cm;
    width: 10cm;
    margin-left: 3cm;
    margin-top: 2cm;
    padding-left: 2.5cm;
    padding-top: 1cm;
    
}